  body {
    font-family: 'Segoe UI', sans-serif;
  }
  header
  {
    background-color: #333;
    color: #F8F9FA;
  }

  .main-container {
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 20px;
    box-shadow: 20px 20px 20px 20px rgba(0,0,0,0.3);
    max-width: 1000px;
  }

  /* h1, h2, label {
    color: #F8F9FA;
  } */

  /* .form-control {
    background-color: #fff;
    color: #000;
  } */

  .navbar{
    background-color: #444 !important;
  }

  .navbar .nav-link{
    color: #F8F9FA;
  }

  .navbar .nav-link:hover {
    color: #F8F9FA;
  }

  .dropdown-menu {
    background-color: #444;
  }

  .dropdown-item {
    color: white;
  }

  .dropdown-item:hover {
    background-color: #444;
  }

  .btn-primary{
    background-color: #444 !important;
    border:none;
  }